{% load staticfiles %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
  <script src="../../static/js/Chart.min.js"></script>
  <script src="../../static/js/utils.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
</head>
<body>
  <h1>Optimal Portfolio in Binance</h1>
  <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td></td><td><input type="submit" value="calculate"></td></tr>
  </form>
  <canvas id="myChart" width="150" height="150"></canvas>
  <table border="1" class="table table-striped">
    <tr>
      <th>portfolio_return(daily)</th>
      <th>portfolio_volatility(daily)</th>
    </tr>
    <tr>
      <td>{{daily_implied_return}}</td>
      <td>{{portfolio_std}}</td>
    </tr>
  </table>
  <table border="1" class="table table-striped">
    <tr>
      <th>symbol</th>
      <th>weight</th>
    </tr>
    {% for i in weights %}
    <tr>
        <td>{{i.symbol}}</td>
        <td>{{i.value}}</td>
    </tr>
    {% endfor %}
  </table>
  <script>
    {% block jquery %}
    var endpoint = '/hello/api/chart/data'
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
        labels = data.label
        defaultData = data.data
        color = data.color
        setChart()
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })
    function setChart(){
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'polarArea',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Optimal Portfolio',
                  data: defaultData,
                  backgroundColor: color,
                  borderWidth: 1
              }]
          }
      });
    }
    {% endblock %}
  </script>
</body>
</html>
